#banner
  .banner_content
    %h1 File FileCabinet
    %p Your life's work. Organized. Always.
    = link_to "Enter", new_user_registration_path, class: 'button'

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet leggings kombucha kitsch glossier YOLO gochujang fixie distillery blog knausgaard. Fixie migas umami poutine adaptogen try-hard. Vice cray pop-up 90's cornhole taiyaki hammock. Narwhal actually crucifix cronut biodiesel. Deep v semiotics mlkshk, austin cornhole poke lomo venmo succulents chartreuse gochujang polaroid. Godard viral XOXO, live-edge mlkshk vaporware meditation leggings la croix post-ironic bushwick knausgaard pug. Plaid flannel gochujang hashtag marfa vice organic before they sold out drinking vinegar XOXO raw denim iPhone.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br
    = link_to "Join Now", new_user_registration_path, class: 'button'
